출처: 프로그래머스 코딩 테스트 연습, https://programmers.co.kr/learn/challenges

코딩테스트 연습 > 월간 코드 챌린지 시즌3 > 없는 숫자 더하기

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 매개변수로 주어집니다.
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 return 하도록 solution 함수를 완성해주세요.

제한사항
1 ≤ numbers의 길이 ≤ 9
0 ≤ numbers의 모든 원소 ≤ 9
numbers의 모든 원소는 서로 다릅니다.

In [14]:
import pandas as pd

df_ex = pd.DataFrame({'numbers':[[1,2,3,4,6,7,8,0],[5,8,4,0,6,7,9]],'result':[14,6]})
df_ex

                    numbers  result
0  [1, 2, 3, 4, 6, 7, 8, 0]      14
1     [5, 8, 4, 0, 6, 7, 9]       6

In [8]:
def solution(numbers):
    real_numbers = list(range(0,10,1))
    non_numbers = [x for x in real_numbers if x not in numbers]
    answer = sum(non_numbers)
    return answer

In [15]:
#다른 사람 풀이
def solution(numbers):
    answer = 45 - sum(numbers)
    return answer